<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/AboutUs.css">
    <title>Our Team</title>
</head>
<body>

    <div class="main-container">
        <div class="header">
            <h1>Our Team </h1>
        </div>
        <div class="team">
            <div class="member" id="member">
                <div class="img">
                    <img src="~/images/Ibraheem.jpg" alt="Ibraheem">
                </div>
                <div class="content">
                    <h3>Name: Ibraheem Shawahne</h3>
                    <h3>ID: 201911738</h3>
                    <h4>Email: obadayahya.an@gmail.com</h4>
                    <h3>Speciality: UI Designer</h3>
                </div>
            </div>
            <div class="member" id="member">
                <div class="img">
                    <img src="~/images/Rasheed.jpg" alt="Rasheed">
                </div>
                <div class="content">
                    <h3>Name: Rasheed Abu Khader</h3>
                    <h3>ID: 201911738 </h3>
                    <h4>Email: r.abukhader@student.aaup.edu</h4>
                    <h3>Speciality: Front-End Developer</h3>
                </div>
            </div>
            <div class="member" id="member">
                <div class="img">
                    <img src="~/images/obada_.jpg" alt="Obada">
                </div>
                <div class="content">
                    <h3>Name: Obada Yahya</h3>
                    <h3>ID: 201910632</h3>
                    <h4>Email: obadayahya.an@gmail.com</h4>
                    <h3>Speciality: Back-End Developer</h3>
                </div>
            </div>
        </div>
    </div>
</body>
</html>