.details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
}
.main-dashboard {
    margin-bottom: 50px;
}
.carts {
    margin-top: 3rem;
    display: grid;
    grid-row-gap:40px;
    grid-template-columns: repeat(5,1fr);
    justify-content: center;
    align-items: center;
}

.cart img {
    width: 230px;
    height: 330px;
    margin-bottom: 10px;
}

.clo {
    width: 70%;
    background-color: #AFB3FF;
}

span {
    font-size: 30px;
}

h2 {
    color: #AFB3FF;
}
