body {
    background: url("../images/login-background.jpg");
    background-size: cover;
}

.content {
    color: #AFB3FF;
    display: grid;
    grid-template-rows: repeat(2,1fr);
}

.clo {
    color: white;
    border-radius: 25px;
    width: 50%;
    background-color: #AFB3FF;
}

h2 {
    font-size:  5rem;
}
